.mainNavbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  font-family: "Alumni Sans Collegiate One", sans-serif;
  font-family: "Archivo", sans-serif;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Edu TAS Beginner", cursive;
  font-family: "Exo 2", sans-serif;
}

.leftNavPart {
  font-size: 30px;
  color: red;
}

.rightNavPart {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-style: italic;
}

.spanColor {
  color: black;
}
